
*.csv
*.pth
/.vs
/REU-Network Detection
/env
/REU
*/__pycache__
*.DS_Store
test.py
*.pyc
Saves/*
!Saves/conf/
Saves/conf/*
!Saves/hyperparam/
Saves/hyperparam/*
!Saves/unknown/
Saves/unknown/*
!Saves/roc/
!Saves/models/
*.json
src/CodeFromImplementations/Ignore.py
!datasets/percentages.csv
test concat scores.py
test copy.py
